.table {
    border-spacing: 0;
    margin: 1rem;
    background-color: #f5f5f5;
}

.table__row:nth-child(even) {
    background-color: lightblue;
}

.table__header {
    text-align : left;
}

.table__cell {
    padding: 8px;
}
.imgContainer{
    float:left;
}
.img-center { 
    margin: 0 auto; 
    display: block; 
    background: transparent;
}
h2 {text-align: center;}

input {
    display: flex;
    align-items: left;
    justify-content: center;
    margin: 0 auto;
}

label {
    display: flex;
    align-items: left;
    justify-content: center;
    margin: 0 auto;
}

select {
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: cursive, sans-serif;
    outline: 0;
    background: lightblue;
    color: #fff;
    border: 1px solid black;
    padding: 4px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}