.table {
    border-spacing: 0;
    margin: 1rem;
    background-color: #f5f5f5;
}

.table__row:nth-child(even) {
    background-color: lightblue;
}

.table__header {
    text-align : left;
}

.table__cell {
    padding: 8px;
}

.img-center { 
    margin: 0 auto; 
    display: block; 
    background: transparent;
}